* {
  margin: 0;
  padding: 0;
}

root{
  --blue: #0da2ff;
  --green: #50c878;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}

.sign-in input {
  width: 300px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #50c878;
}

.sign-in button {
  width: 300px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: #0da2ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}